{% extends 'homepage/base.html' %}
{% load static %}

{% block meta %}
<title>Home</title>
{% endblock meta %}

{% block content %}
<div class="container" style="margin-top: 5%; margin-bottom: 5%;">
    <div class="row">
        <hr class="hr-rounded">
    </div>
    <div class="col-12">
        <h2 style="text-align: center;">HOME PAGE</h2>
    </div>
    <div id="kotak1" class="col-12">
        <div class="carousel-inner">
                <div class="carousel-item active">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://onedrive.live.com/embed?cid=AB18559D12CF84E3&resid=AB18559D12CF84E3%21852&authkey=ALSKsMKuwGZz6CU&em=2" width="402" height="327" frameborder="0" scrolling="no"></iframe>
                </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}